/* Grid.css */

.grid-container {
    display: grid;
    gap: 0px;
    padding: 16px;
    max-width: auto;
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.grid-container .column-header-cell {
    border: 1px solid #000;
    padding: 8px;
    border-radius: 0px;
    background-color: #c2c2c2;
    position: sticky;
    top: 0;
    z-index: 3
}

.grid-container .row-header-cell {
    border: 1px solid #000;
    padding: 8px;
    border-radius: 0px;
    background-color: #c2c2c2;
    position: sticky;
    left: 0;
    z-index: 3
}

.grid-container .droppable-cell {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 0px;
    background-color: #ffffff;
    position: relative;
}

.grid-container .note {
    background: #f3f88a;
    border: 1px solid #ccc;
    padding: 4px 4px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: grab;
}
