/* Grid.css */

.grid-container {
    display: grid;
    gap: 0px;
    padding: 16px;
    max-width: auto;
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.grid-container .column-header-cell {
    border: 0.5px solid #000;
    padding: 8px;
    border-radius: 0px;
    background-color: #c2c2c2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.grid-container .row-header-cell {
    border: 0.5px solid #000;
    padding: 8px;
    border-radius: 0px;
    background-color: #c2c2c2;
    position: sticky;
    left: 0;
}

.grid-container .droppable-cell {
    border: 0.5px solid #000000;
    padding: 1px;
    border-radius: 0px;
    background-color: #ffffff;
    min-width: 50px;
}

.grid-container .note {
    background: #ffffab;
    padding: 4px 4px;
    margin: 3px 2px;
    border-radius: 3px;
    cursor: grab;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: clamp(10px, 2vw, 14px);
    max-width: 200px;
    text-align: left;
}

.grid-container .drag-count {
    display:block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: lightblue;  /* White foreground */
    border-radius: 50%;  /* Makes it a circle */
    top: -5px;
    right: -5px;
    transform: translate(-50%+2px, -50%+2px); /* Centers the circle on (0,0) */
    z-index: 1; /* Makes sure it stays on top */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    font-size: 10px; /* Optional, adjust font size */
  }